*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Maven Pro', sans-serif !important;
    background:#3d3f50;
    color:#000;
}
.swiper-button-next::after,
.swiper-button-prev::after {
   color:white!important;
   font-size:10px !important;
   background:#3d3f50;
   width:30px;
   height:30px;
   display:flex;
   justify-content: center;
   align-items: center;
   border-radius:50%;
}
.swiper-pagination-progressbar-fill{
    background:white !important;
}
